/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/public/images/background.png');
  background-size: cover; /* This will make the image cover the whole background */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center center; /* This will position the image in the center */
}

h1,
label {
  color: '#0142F5';
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
